<!-- <h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p> -->
<div class="media">
	<div class="media-body">
		<% @posts.each do |post|%>
			<h4 class="media-heading"
				<p><%= link_to post.title, post%></p>
			</h4>
		<% end %>	
	</div>
</div>


<!-- </div>
<h1> All posts </h1>
<% @posts.each do |post| %>
	<p><%= link_to post.title, post%></p>
<% end %>  -->

<!-- 
<h1>All Posts</h1>
<% @posts.each do |post| %>
  <p><%= link_to post.title, post_path(post.id) %></p>
<% end %> -->